.alert {
    display: flex;
    color: white;
    background-color: var(--c2);
    padding: 0.5em;
    margin-bottom: 1em;
}

.alert--danger {
    background-color: var(--danger);
}

.alert__icon {
    flex: 0 0 auto;
}

.alert__text {
    flex: 1 1 auto;
}