.icon {
    height: 24px;
    width: 24px;
}

.icon--large {
    height: 12em;
    width: 12em;
}

.icon--error {
    color: var(--danger);
}

.button--hero .icon {
    width: 48px;
    height: 48px;
}