nav {
    grid-area: nav;
    color: white;
    background: var(--c1);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    transform: translateX(-100vw);
    transition: transform 300ms ease-out;
    z-index: 1;
    @media screen and (min-width: $menu-br) {
        position: static;
        width: 16em;
        transform: translate(0);
        transition: none;
    }
}

.nav--open {
    transform: translateX(0);
    box-shadow: 0 0 1em black;
}

.nav__toggle {
    margin: 1em;
    align-self: start;
    @media screen and (min-width: $menu-br) {
        display: none;
    }
}

nav {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    ul {
        display: contents;
    }
    li {
        display: block;
        padding: 0;
        margin: 0;
    }
    .li--space {
        margin-block-start: auto;
    }
    a {
        color: white;
        background: var(--c1);
        padding: 0.5em 0.5em;
        display: block;
        text-decoration: none;
        &:hover {
            color: white;
            background: var(--c2);
        }
        &:focus-visible {
            outline: 2px solid white;
            outline-offset: -4px;
        }
        &.a--active {
            color: var(--c2);
            background: var(--w);
            outline-color: var(--c2);
        }
    }
}